---
layout: base.liquid
---
<!-- projects -->
<section class='container section'>
  <div class='grid'>
    {% for item in data.projects %}
      <div class='grid-item w-full sm:w-1/2 md:w-1/3 py-4 sm:p-4' onclick='openModal({{item.images}})'>
        <div class='w-full relative project-item rounded-lg overflow-hidden'>
          <img src="{{item.images[0]}}" alt='' class='w-full '>
          <div class='absolute inset-0 bg-black bg-opacity-40 opacity-0 transition duration-300 flex items-center justify-center'>
            <h4 class='text-white font-bold text-xl'>{{item.name}}</h4>
          </div>
        </div>

      </div>
    {% endfor %}

  </div>
</section>