@tailwind base;
@tailwind components;
:root {
  --primary: #f3ab1e;
  --secondary: #232523;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
  color: white;
}
main {
  min-height: 100vh;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 px-4 transition py-8 duration-500 flex items-center justify-between sm:block;
}

header.scrolled {
  @apply bg-black bg-opacity-70 duration-500 transition;
}

header.scrolled img {
  @apply h-0 duration-300 transition-all;
}

.project-item:hover > div {
  opacity: 1;
}

.section {
  @apply py-16 sm:py-32;
}

.banner-gradient {
  background: rgb(35, 37, 35);
  background: linear-gradient(
    0deg,
    rgba(35, 37, 35, 1) 0%,
    rgba(35, 37, 35, 0.9) 50%,
    rgba(35, 37, 35, 0) 100%
  );
}

.intro-section {
  background: rgb(35, 37, 35);
  background: linear-gradient(
    90deg,
    rgba(35, 37, 35, 1) 0%,
    rgba(35, 37, 35, 0.9) 30%,
    rgba(35, 37, 35, 0.6) 60%,
    rgba(35, 37, 35, 0) 100%
  );
}

.overlay-menu {
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s;
}

.overlay-menu.active {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.25s 0s;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  z-index: 9999;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content img {
  @apply mb-10;
}

.modal-content img:last-child {
  @apply mb-0;
}

.fading {
  animation: aniamtion-fading 6.5s infinite;
}

@keyframes aniamtion-fading {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* loading */
#loading.fade-out {
  animation: fadeOut 1s both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.logo-animation {
  animation: logoanimation 1s ease-in-out 0s alternate infinite;
}

@keyframes logoanimation {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#list-categories > div.active,
#list-categories > div:hover {
  @apply bg-white text-secondary cursor-pointer;
}

.callout:nth-child(odd) .content {
  @apply text-right ml-auto;
}

.callout:nth-child(odd) .intro-section {
  background: rgb(35, 37, 35);
  background: linear-gradient(
    270deg,
    rgba(35, 37, 35, 1) 0%,
    rgba(35, 37, 35, 0.9) 30%,
    rgba(35, 37, 35, 0.6) 60%,
    rgba(35, 37, 35, 0) 100%
  );
}

@tailwind utilities;
